name: Update AUR package

on:
  workflow_dispatch:
  # schedule:
  #   - cron: '0 3 * * *'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Update PKGBUILD from upstream release
        run: python .github/scripts/update_pkgbuild.py
      - name: Commit changes
        if: env.PKG_UPDATED == '1'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add PKGBUILD .SRCINFO
          git commit -m "chore: update to ${NEW_PKGVER}"
      - name: Push changes
        if: env.PKG_UPDATED == '1'
        run: git push
      - name: Publish to AUR
        if: env.PKG_UPDATED == '1'
        uses: KSXGitHub/github-actions-deploy-aur@v4.1.0
        with:
          pkgname: iipython-feishin-electron-bin
          pkgbuild: ./PKGBUILD
          commit_username: github-actions[bot]
          commit_email: github-actions[bot]@users.noreply.github.com
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
